<div class="videoStreamOuter" id="remote-streams">
	<div class="eachVideoStream" id="1272_container">
		<div id="1272_mute" class="mute-overlay" style="display: block">
			<i class="fas fa-microphone-slash"></i>
		</div>
		<div id="1272_no-video" class="no-video-overlay text-center">
			<i class="fas fa-user"></i>
		</div>
		<div id="agora_remote_1272" class="fhw remote-video remoteVideo">
			<div id="player_1272" class="fhw">
				<video id="video1272" style="width: 100%; height: 100%; position: absolute; object-fit: cover" autoplay=""
					muted="" playsinline="">
					<div id="player_1272"
						style="width: 100%; height: 100%; position: relative; background-color: black; overflow: hidden;"><video
							id="video1272" style="width: 100%; height: 100%; position: absolute; object-fit: cover;" autoplay=""
							muted="" playsinline=""></video><audio id="audio1272" playsinline=""></audio></div>
				</video>
				<audio id="audio1272" playsinline=""></audio>
			</div>
		</div>
	</div>
</div>