<div class="videoStreamOuter" id="remote-streams">
	<div class="eachVideoStream localStreamContainer">
		<div id="local-stream-container" class="fhw">
			<div id="mute-overlay" class="col">
				<i id="mic-icon" class="fas fa-microphone-slash"></i>
			</div>
			<div id="localUserName" class="col userName">
				<span>85</span>
			</div>
			<div id="no-local-video" class="col text-center">
				<i id="user-icon" class="fas fa-user"></i>
			</div>
			<div id="local-video" class="localVideo">
				<div id="player_1319"
					style="width: 100%; height: 100%; position: relative; background-color: black; overflow: hidden;"><video
						id="video1319"
						style="width: 100%; height: 100%; position: absolute; transform: rotateY(180deg); object-fit: cover;"
						autoplay="" muted="" playsinline=""></video><audio id="audio1319" muted="" playsinline=""></audio></div>
			</div>
		</div>
	</div>
</div>